@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
margin: 0;
padding: 0;
font-family: 'Josefin Sans', cursive;
box-sizing: border-box;
}

:root{
    --body-color: rgb(29, 26, 26);
    --nav-color: #cf292c;
    --bg-color: #fff;
    --text-color: #fff;
    --post-color: #fff;
}

.dark-theme{
    --body-color: #efefef;
    --text-color: #000;
    --post-color: #383636;
}

body{
    background-color: var(--body-color);
    transition: background-color 0.3s;
}

.logo{
    color: #dfe8f7;
    font-size: 23px;
    margin-right: 45px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right{
    display: flex;
    align-items: center;
}


.nav-left ul li{
    list-style: none;
    display: inline-block;
}

.nav-left ul li img{
    width: 20px;
    margin: 0 15px;
}

.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

}

.nav-user-icon{
    margin-left: 30px;
}
.search-box{
    background: var(--body-color);
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img{
    width: 12px;
    cursor: pointer;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
    color: var(--text-color);
}

.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.settings{
    position: absolute;
    width: 90%;
    max-width: 270px;
    background: var(--body-color);
    box-shadow: 0 0 10px var(--text-color);
    border-radius: 4px;
    overflow: hidden;
    top: 100px;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;

}

.settings-height{
    max-height: 400px;
}

.settings-inner{
    padding: 20px;
}
.settings-inner li{
    display: inline-block;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}


.Thm-tilte{
    padding-bottom: 20px;
    color: var(--text-color);
}

#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on{
    display: flex;
    justify-content: right;
    background-color: rgb(65, 63, 63);
}

.write-post{
    width: 30%;
    background-color: var(--post-color);
    border-radius: 6px;
    padding: 10px 5px;
    margin-top: 15px;
    margin-left: 10px;
    color: #626262;
    box-shadow: 0 0 10px var(--text-color);
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile small{
    font-size: 12px;
}

.user-profile input{
    width: 250px;
    color: var(--text-color);
    margin-bottom: -5px;
    font-weight: 500;
}

.post-input{
    padding-left: 55px;
    padding-top: 10px;
    padding-right: 5px;
}

.post-input textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border: 1px solid #ccc;
}

.button-post{
    display: flex;
    justify-content: right;
    padding-right: 5px;
    padding-top: 3px;
}




#game{
    width: 700px;
    height: 380px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 20%;
    background-image: url(imageshtml1/day\ back1.jpg);
}

#game.night{
    background-image: url(imageshtml1/night\ back1.png);
}

#back{
    width: 699px;
    height: 70px;
    position: absolute;
    overflow: hidden;
    margin-top:308px;
}

#character{
    width: 40px;
    height: 100px;
    position: relative;
    top: 210px;
    margin-left: 15px;
}

#block{
    width: 40px;
    height: 40px;
    position: relative;
    top: 210px;
    left: 610px;
    animation: block 3s infinite linear;
}

.animate{
    animation: jump 500ms;
}

@keyframes block{
    0%{left:610px;}
    100%{left:-70px;}
}

@keyframes jump{
    0%{top: 150px;}
    30%{top: 40pxpx;}
    70%{top: 40pxpx;}
    100%{top: 150px;}
}


h1{
    font-size: 5.4rem;
    color: var(--text-color);
    margin-bottom: 5rem;
}

h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

#player{
    display: flex;
    margin-left: 500px;
    margin-top: 20px;
    justify-content:center;
    padding: 10px;
    align-items:center;
    background-color: rgb(240, 233, 233);
    width: 200px;

}

.player-head{
    text-decoration: bold;
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}

#player li{
    list-style: none;
}

.player-btn{
    font-size: 1rem;
    padding: 0.5rem 0;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: rgb(28, 26, 26);
}

.player-btn:hover{
    cursor: pointer;
    box-shadow: 0 0.1rem 0.4rem 0 rgba(53, 54, 54, 0.6);
    transition: transform 150ms;
    transform: scale(1.02);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    padding: 2rem;
    margin: 0 auto;
}

.flex-column{
    display:flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden {
    display: none;
}

.btn{
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102, 255) 100%);
    border-radius: 4px;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn{
    background: linear-gradient(90deg, rgb(255, 247, 9) 0%, rgb(240, 221, 6) 100%);
}

#highscore-btn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5)
}

.hud-main-text{
    font-size: 10px;
}

.hud-item{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 20%;
    display: inline-block;
    justify-content: center;
    padding-left: 20px;
    padding-top: 3px;
}

.hud-item p{
    font-size: 20px;
    color: #fff;
}

.hud-item h1{
    font-size: 20px;
}

/* end page*/

.end-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

.end-form-container input{
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5)
}

.end-form-container input::placeholder{
    color: #aaa;
}

#username{
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text{
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

#saveScoreBtn{
    border: none;
}


#highScoresList{
    list-style-type: decimal-leading;
    margin-bottom: 4rem;
    color: #fff;
}

.high-score{
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

#heartbar{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 625px;
    margin-top: 250px;
}

#heart1{
    box-shadow: #000;
    width: 25px;
    height: 25px;
    padding-right: 2px;
}

#heart2{
    box-shadow: #000;
    width: 25px;
    height: 25px;
    padding-right: 2px;
}

#heart.heart-off{
    display: none;
}

#heart3{
    box-shadow: #000;
    width: 25px;
    height: 25px;
    padding-right: 2px;
}

#over{
    font-size:80px;
    position:absolute;
    align-items: center;
    color:transparent;
    margin-top:150px;
    margin-left: 50px;
    box-shadow: #383636;
}

#over.text-on{
    color:#cf292c;
}